body {background-color: rgb(247, 198, 205);
    height: 100%;
    width: 100%;
}

h1 {
    color: #000ed3;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 500%;
}

.pookalam {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    border: 10px solid rgb(165, 1, 1);
}

.outer {
    width: 450px;
    height: 450px;
    background-color: #f4c542;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: 25px;
}

.middle {
    width: 350px;
    height: 350px;
    background-color: #e67e22;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: 75px;
}

.red{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 0;
    left: 0;
}

.red span {
    width: 85px;
    height: 150px;
    background-color: rgb(218, 3, 3);
    border: 3px solid rgb(3, 71, 13);
    border-radius: 50%;
    position: absolute;
    top: 175px;
    left: 205px;
    transform-origin: center;
}

.red span:nth-child(1) {
    transform: rotate(0deg) translateY(-130px);
}
.red span:nth-child(2) {
    transform: rotate(45deg) translateY(-130px);
}
.red span:nth-child(3) {
    transform: rotate(90deg) translateY(-130px);
}
.red span:nth-child(4) {
    transform: rotate(135deg) translateY(-130px);
}
.red span:nth-child(5) {
    transform: rotate(180deg) translateY(-130px);
}
.red span:nth-child(6) {
    transform: rotate(225deg) translateY(-130px);
}
.red span:nth-child(7) {
    transform: rotate(270deg) translateY(-130px);
}
.red span:nth-child(8) {
    transform: rotate(315deg) translateY(-130px);
}

.white {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}


.white span {
    width: 55px;
    height: 100px;
    background-color: white;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 222px;
    transform-origin: center;
}

.white span:nth-child(1) {
    transform: rotate(0deg) translateY(-105px);
}
.white span:nth-child(2) {
    transform: rotate(45deg) translateY(-105px);
}
.white span:nth-child(3) {
    transform: rotate(90deg) translateY(-105px);
}
.white span:nth-child(4) {
    transform: rotate(135deg) translateY(-105px);
}
.white span:nth-child(5) {
    transform: rotate(180deg) translateY(-105px);
}
.white span:nth-child(6) {
    transform: rotate(225deg) translateY(-105px);
}
.white span:nth-child(7) {
    transform: rotate(270deg) translateY(-105px);
}
.white span:nth-child(8) {
    transform: rotate(315deg) translateY(-105px);
}

.center {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 185px;
    left: 185px;
    background-color: #32a852;
    border-radius: 50%;
    border: 2px solid #32a852;
    display: flex;
    align-items: center;
    justify-content: center;
}
.purple-circle {
    width: 90px;
    height: 90px;
    background-color: purple;
    border-radius: 50%;
    border: 2px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yellow-circle {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid yellow;
}